<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                <p class="footer__about-text">
                    Desenvolvido por Guilherme Henrique com Angular
                </p>
            </h2>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"></i> guilherme_18henrique@yahoo.com.br</li>
                <li><i class="fa-brands fa-whatsapp"></i> (19) 9 8221-0064</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>